<!-- html-partial : _footer.html -->

<footer class="ricapp-footer">
  <div class="ricapp-footer-inner">
    <div class="ricapp-footer-text">
      <div class="ricapp-footer-name">Reed College Investment Club</div>
      <div class="ricapp-footer-addi">
      	Tue 5-6pm | ETC 208<br>
      	3203 Reed College<br>
      	Woodstock Blvd.
      	SE Portland,<br>
      	Oregon 97202
      </div>
    </div>
    <div class="ricapp-footer-submenu">
      <h5>Useful Links</h5>
      <ul>
        <li><a href="#">MarketWatch</a></li>
        <li><a href="#">NASDAQ</a></li>
        <li><a href="#">SEC Filings</a></li>
        <li><a href="#">Bloomberg</a></li>
        <li><a href="#">Reuter's Investing</a></li>
      </ul>
    </div>
    <div class="ricapp-footer-submenu">
      <h5>Tools</h5>
      <ul>
        <li><a href="#">Graph Annotator</a></li>
        <li><a href="#">Stock Analyser</a></li>
        <li><a href="#">Trade Models</a></li>
        <li><a href="#">Quantopian</a></li>
        <li><a href="#">Trade Game</a></li>
        <li><a href="#">Certificates</a></li>
      </ul>
    </div>
    <div class="ricapp-footer-submenu">
      <h5>Resources</h5>
      <ul>
        <li><a href="#">Financial Service Fellowship</a></li>
        <li><a href="#">CUS Research Challenge</a></li>
        <li><a href="#">Girls Who Invest</a></li>
        <li><a href="#">Finance Crash Course</a></li>
      </ul>
    </div>
    <div class="ricapp-footer-submenu">
      <h5>About</h5>
      <ul>
        <li><a href="#">Charter</a></li>
        <li><a href="#">Holdings</a></li>
        <li><a href="#">Presentations</a></li>
        <li><a href="members.html">Members</a></li>
        <li><a href="reports.html">Reports</a></li>
      </ul>
    </div>
  </div>
	<div class="ricapp-prev-years">
		<a href="#">2013</a>
		<a href="#">2014</a>
		<a href="#">2015</a>
		<a href="#">2016</a>
		<a href="#">2017</a>
		<a href="#">2018</a>
		<a href="#" class="text-muted">2019</a>
	</div>
	<div class="text-center">
		<small class="text-muted"><small class="d-block mb-3 text-muted">Reed College &copy; 2019-2020</small></small>
	</div>
</footer>