<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Importing header -->
  <%= require("html-loader!./partials/_header.html") %>
</head>
<body>
  <!-- Importing navbar -->
  <%= require("html-loader!./partials/_nav.html") %>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 font-weight-normal"><img src="http://reedsb.com/assets/reed-modern-fulltext.svg" width="300px"> Investment Club</h1>
        <p class="lead font-weight-normal">The Reed College Investment Club exists to provide an informal and experimental atmosphere for Stanford undergrads to learn about investment.</p>
        <a class="btn btn-outline-dark" href="#">Sign up</a>
      </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <a name="ricapp-section-about"></a>
      <div class="col-md-10 p-lg-6 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">About us</h1>
        <div class="lead font-weight-normal overflow-hidden" id="ricapp-about-content">
        	<p>Founding father Benjamin Franklin famously stated that "an investment in knowledge pays the best interest." These words inform and shape the Stanford Investment Club's primary purpose, which is to bring students together in a spirit of collaborative learning on the art and science of investment.
        	Most curricula don't directly deal with finance and investment as it applies to individuals, but rather deal with markets and policies. Important concepts, no doubt, but not always directly applicable on a personal level.
        	Hands-on practice investing is critical to the development of any skill, and in the case of investing, it's also statistically remunerative, but admittedly only in the long-term. That's why it makes sense to learn early, and we believe college is the perfect time to start this journey.
        	The Stanford Investment Club is a passionate group of Stanford undergraduates who seek to tackle this significant task, together heightening individual understanding of all forms of investment.
        	"How should I invest right now and what do I need to know about money to keep my career and life running smoothly?" Throughout our meetings, we hope to help each of our members answer this question for themselves.</p>
        </div>
        <a name="ricapp-section-leadership" class="anchor-spacer"></a>
        <h1 class="display-5 font-weight-normal">Leadership</h1>  
<div class="ricapp-team-carousel-outer">
	<div id="ricapp-team-carousel" class="carousel">
		<div class="carousel-static-left"></div>
		<div class="carousel-static-right"></div>
		<div class="carousel-cell">
			<img data-flickity-lazyload="http://lorempixel.com/output/people-h-c-250-275-8.jpg" >
			<h4>John Doe</h4>
			<h5>President</h5>
			<h6>Hi, Thank you for reading this letter! Investment Club is a great oppurtunity for young investors to learn investing without the implicit cost of learning that one might not be able to afford after graduating.</h6>
		</div>
		<div class="carousel-cell">
			<img data-flickity-lazyload="http://lorempixel.com/output/people-h-c-250-275-1.jpg" >
			<h4>John Doe</h4>
			<h5>Vice President</h5>
			<h6>Hi, Thank you for reading this letter! Investment Club is a great oppurtunity for young investors to learn investing without the implicit cost of learning that one might not be able to afford after graduating.</h6>
		</div>
		<div class="carousel-cell">
			<img data-flickity-lazyload="http://lorempixel.com/output/people-h-c-250-275-7.jpg" >
			<h4>John Doe</h4>
			<h5>Secretary</h5>
			<h6>Hi, Thank you for reading this letter! Investment Club is a great oppurtunity for young investors to learn investing without the implicit cost of learning that one might not be able to afford after graduating.</h6>
		</div>
		<div class="carousel-cell">
			<img data-flickity-lazyload="http://lorempixel.com/output/people-h-c-250-275-2.jpg" >
			<h4>John Doe</h4>
			<h5>Treasurer</h5>
			<h6>Hi, Thank you for reading this letter! Investment Club is a great oppurtunity for young investors to learn investing without the implicit cost of learning that one might not be able to afford after graduating.</h6>
		</div>
		<div class="carousel-cell">
			<img data-flickity-lazyload="http://lorempixel.com/output/people-h-c-250-275-6.jpg" >
			<h4>John Doe</h4>
			<h5>Outreach Officer</h5>
			<h6>Hi, Thank you for reading this letter! Investment Club is a great oppurtunity for young investors to learn investing without the implicit cost of learning that one might not be able to afford after graduating.</h6>
		</div>
		<div class="carousel-cell">
			<img data-flickity-lazyload="http://lorempixel.com/output/people-h-c-250-275-9.jpg" >
			<h4>John Doe</h4>
			<h5>Senate Rep.</h5>
			<h6>Hi, Thank you for reading this letter! Investment Club is a great oppurtunity for young investors to learn investing without the implicit cost of learning that one might not be able to afford after graduating.</h6>
		</div>
	</div>
</div>    
      </div>

    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <a name="ricapp-section-schedule"></a>
      <div class="col-md-10 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Schedule</h1>
        <p class="lead font-weight-normal">This is the pitch schedule for this semester.</p>

<table class="ricapp-schedule">
  <thead>
    <tr>
      <th scope="col">Pitch</th>
      <th scope="col">Presentees</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="ricapp-schedule-details">
      	<i>November 5, 2019</i><br>
      	<h5 class="mb-0">Starbucks <span class="small">[Sell Pitch]</span></h5>
        <div class="ricapp-schedule-details-actions">
          <a href="#">[Presentation]</a>
          <a href="#">[Transcript]</a>
          <a href="#">[Webcast]</a>
          <a href="#">[Ballot]</a>
        </div>
      </td>
      <td class="ricapp-schedule-presentees">
      	Andrej Karpathy,
      	Blaise Burdige,
      	Parth Raghav<br>
      	<a href="">{andrej, bblaise, raghavp}@reed.edu</a>
      </td>
      <td class="ricapp-schedule-results">
      	<p>The club Voted to sell half of our shares (21) at market value. The remaining shares will have a 5% stop-loss placed on them. This means the sale of the shares will trigger when they decline 5% in their market value.</p>
      </td>
    </tr>
    <tr>
      <td class="ricapp-schedule-details">
      	<i>November 5, 2019</i><br>
      	<h5 class="mb-0">Starbucks <span class="small">[Sell Pitch]</span></h5>
      	<a href="#">[Presentation]</a>
      	<a href="#">[Verbatim]</a>
      </td>
      <td class="ricapp-schedule-presentees">
      	Andrej Karpathy,
      	Blaise Burdige,
      	Parth Raghav<br>
      	<a href="">{andrej, bblaise, raghavp}@reed.edu</a>
      </td>
      <td class="ricapp-schedule-results">
      	<p>The club Voted to sell half of our shares (21) at market value. The remaining shares will have a 5% stop-loss placed on them. This means the sale of the shares will trigger when they decline 5% in their market value.</p>
      </td>
    </tr>
  </tbody>
</table>

      </div>
    </div>

  <!-- Importing footer -->
  <%= require("html-loader!./partials/_footer.html") %>

</body>
</html>
