<!DOCTYPE html>
<html>
<head>
	<!-- Importing header -->
	<%= require("html-loader!./partials/_header.html") %>
</head>
<body>
  <!-- Importing navbar -->
  <%= require("html-loader!./partials/_nav.html") %>

  <div class="anchor-spacer"></div>
  <div class="row">
  	<div class="col-md-8 col-10 mx-auto">
  		<h1>Club Members</h1>
  		<div class="ricapp-member-class">
	  		<h3 class="">2019</h3>
	  		<ul class="ricapp-sectioned ricapp-member-list">
				<li><a href="#">Evelyn James</a></li>
				<li><a href="#">Bobby Barnes</a></li>
				<li><a href="#">Keith Ward</a></li>
				<li><a href="#">Joyce Bailey</a></li>
				<li><a href="#">Juan Lewis</a></li>
				<li><a href="#">Janet Cooper</a></li>
				<li><a href="#">Jennifer Carter</a></li>
				<li><a href="#">Scott Ross</a></li>
				<li><a href="#">Gerald King</a></li>
				<li><a href="#">Phyllis Roberts</a></li>
				<li><a href="#">Fred Martin</a></li>
				<li><a href="#">Mark Wright</a></li>
				<li><a href="#">Ernest Jackson</a></li>
				<li><a href="#">Joe Moore</a></li>
				<li><a href="#">Christopher Davis</a></li>
				<li><a href="#">William Evans</a></li>
				<li><a href="#">Christina Collins</a></li>
				<li><a href="#">Alice Parker</a></li>
				<li><a href="#">Russell Griffin</a></li>
				<li><a href="#">Jean Garcia</a></li>
				<li><a href="#">Judith Foster</a></li>
				<li><a href="#">Teresa Simmons</a></li>
				<li><a href="#">Roger Perry</a></li>
				<li><a href="#">Ashley Powell</a></li>
				<li><a href="#">Christine Peterson</a></li>
				<li><a href="#">Brian Phillips</a></li>
				<li><a href="#">Robert Rivera</a></li>
				<li><a href="#">Patricia Jenkins</a></li>
				<li><a href="#">Irene Washington</a></li>
				<li><a href="#">Douglas Brown</a></li>
				<li><a href="#">Nicholas Robinson</a></li>
				<li><a href="#">Todd Anderson</a></li>
				<li><a href="#">Ryan Gonzalez</a></li>
				<li><a href="#">Steve Thompson</a></li>
				<li><a href="#">Helen Murphy</a></li>
				<li><a href="#">Judy Edwards</a></li>
				<li><a href="#">Rose Hill</a></li>
				<li><a href="#">Lori Lopez</a></li>
				<li><a href="#">Marilyn White</a></li>
				<li><a href="#">Sara Coleman</a></li>
				<li><a href="#">Jose Bryant</a></li>
				<li><a href="#">Betty Gonzales</a></li>
				<li><a href="#">Catherine Walker</a></li>
				<li><a href="#">Bonnie Watson</a></li>
				<li><a href="#">Joseph Green</a></li>
				<li><a href="#">Ronald Jones</a></li>
				<li><a href="#">Craig Wilson</a></li>
				<li><a href="#">Amy Hall</a></li>
				<li><a href="#">Denise Price</a></li>
				<li><a href="#">Ralph Morris</a></li>
	  		</ul>  			
  		</div>

  		<div class="ricapp-member-class">
	  		<h3 class="">2018</h3>
	  		<ul class="ricapp-sectioned ricapp-member-list">
				<li><a href="#">Janice Jackson</a></li>
				<li><a href="#">Virginia Davis</a></li>
				<li><a href="#">Russell Miller</a></li>
				<li><a href="#">Mildred Cox</a></li>
				<li><a href="#">Frank Flores</a></li>
				<li><a href="#">Lawrence Torres</a></li>
				<li><a href="#">Ronald Ramirez</a></li>
				<li><a href="#">Nancy Henderson</a></li>
				<li><a href="#">Eugene Bell</a></li>
				<li><a href="#">Gloria Turner</a></li>
				<li><a href="#">Louis Murphy</a></li>
				<li><a href="#">Amy Clark</a></li>
				<li><a href="#">Judy Wilson</a></li>
				<li><a href="#">Alice Morris</a></li>
				<li><a href="#">Sandra James</a></li>
				<li><a href="#">Denise Edwards</a></li>
				<li><a href="#">Carolyn Ross</a></li>
				<li><a href="#">Amanda Robinson</a></li>
				<li><a href="#">Henry Long</a></li>
				<li><a href="#">Aaron Campbell</a></li>
				<li><a href="#">Rachel Richardson</a></li>
				<li><a href="#">Andrea Perez</a></li>
				<li><a href="#">Ruby Reed</a></li>
				<li><a href="#">Jimmy Walker</a></li>
				<li><a href="#">Jason Bailey</a></li>
				<li><a href="#">Steven Griffin</a></li>
				<li><a href="#">Harry Jones</a></li>
				<li><a href="#">Thomas Taylor</a></li>
				<li><a href="#">Edward Jenkins</a></li>
				<li><a href="#">Louise Bennett</a></li>
				<li><a href="#">Paula Parker</a></li>
				<li><a href="#">Patricia Russell</a></li>
				<li><a href="#">Adam Hernandez</a></li>
				<li><a href="#">Fred Wood</a></li>
				<li><a href="#">Kenneth Garcia</a></li>
				<li><a href="#">Ann Diaz</a></li>
	  		</ul>  			
  		</div>

  		<div class="ricapp-member-class">
	  		<h3 class="">2017</h3>
	  		<ul class="ricapp-sectioned ricapp-member-list">
				<li><a href="#">Larry Peterson</a></li>
				<li><a href="#">Jose Cooper</a></li>
				<li><a href="#">Sara Kelly</a></li>
				<li><a href="#">Scott Brown</a></li>
				<li><a href="#">Lois Allen</a></li>
				<li><a href="#">Julie Gray</a></li>
				<li><a href="#">Angela Cook</a></li>
				<li><a href="#">Chris Sanchez</a></li>
				<li><a href="#">Jonathan Gonzalez</a></li>
				<li><a href="#">George Powell</a></li>
				<li><a href="#">Carlos Morgan</a></li>
				<li><a href="#">Brenda Young</a></li>
				<li><a href="#">Lisa Martin</a></li>
				<li><a href="#">Teresa Collins</a></li>
				<li><a href="#">Catherine Moore</a></li>
				<li><a href="#">Joseph Johnson</a></li>
				<li><a href="#">Harold Lewis</a></li>
				<li><a href="#">Stephanie Rogers</a></li>
				<li><a href="#">Brian Roberts</a></li>
				<li><a href="#">Betty White</a></li>
				<li><a href="#">Earl Barnes</a></li>
				<li><a href="#">William Martinez</a></li>
				<li><a href="#">Anthony Howard</a></li>
				<li><a href="#">Jeffrey Watson</a></li>
				<li><a href="#">Joan Carter</a></li>
				<li><a href="#">Howard Brooks</a></li>
				<li><a href="#">Evelyn Perry</a></li>
				<li><a href="#">Bobby Simmons</a></li>
				<li><a href="#">Melissa Patterson</a></li>
				<li><a href="#">Bonnie Price</a></li>
				<li><a href="#">Dorothy Scott</a></li>
				<li><a href="#">Matthew Alexander</a></li>
				<li><a href="#">Benjamin Anderson</a></li>
				<li><a href="#">Jack Gonzales</a></li>
				<li><a href="#">Diana Sanders</a></li>
				<li><a href="#">Alan Lee</a></li>
				<li><a href="#">Wayne Bryant</a></li>
				<li><a href="#">Kevin Nelson</a></li>
	  		</ul>  			
  		</div>

  		<div class="ricapp-member-class">
	  		<h3 class="">2016</h3>
	  		<ul class="ricapp-sectioned ricapp-member-list">
				<li><a href="#">Donna Baker</a></li>
				<li><a href="#">Ernest Washington</a></li>
				<li><a href="#">Bruce Green</a></li>
				<li><a href="#">John Rivera</a></li>
				<li><a href="#">Janet Evans</a></li>
				<li><a href="#">Robert Butler</a></li>
				<li><a href="#">Norma Hall</a></li>
				<li><a href="#">Willie Hughes</a></li>
				<li><a href="#">Julia Mitchell</a></li>
				<li><a href="#">Arthur Adams</a></li>
				<li><a href="#">Sarah Thomas</a></li>
				<li><a href="#">Michelle Harris</a></li>
				<li><a href="#">Lillian Smith</a></li>
				<li><a href="#">Raymond Phillips</a></li>
				<li><a href="#">Maria Coleman</a></li>
				<li><a href="#">Ralph Hill</a></li>
				<li><a href="#">Wanda Foster</a></li>
				<li><a href="#">Albert Thompson</a></li>
				<li><a href="#">Karen King</a></li>
				<li><a href="#">Clarence Lopez</a></li>
				<li><a href="#">Kathryn Williams</a></li>
				<li><a href="#">Kelly Wright</a></li>
				<li><a href="#">Anne Rodriguez</a></li>
				<li><a href="#">Roy Ward</a></li>
				<li><a href="#">Nicole Stewart</a></li>
				<li><a href="#">Theresa</a></li>
	  		</ul>  			
  		</div>

  	</div>
  </div>



  <!-- Importing footer -->
  <%= require("html-loader!./partials/_footer.html") %>
</body>
</html>